body {
  background-color: rgb(174, 231, 228);
}

.App-title {
  font-size: 1.5em;
  padding-top: 10vh;
}

.App-intro {
  font-size: large;
}

.social-icon {

}

#projects {
  background-color: white;
}

#resume {
  background-color: white;
}