body {
  background-color: rgb(174, 231, 228);
}

.App-title {
  font-size: 1.5em;
  padding-top: 10vh;
}

.App-intro {
  font-size: large;
}

.home-section {
  background-color: rgb(174, 231, 228);
  color: black;
}

.home-layout {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 20%;
  padding-left: 20%;
  align-items: flex-start;
}

.home-text {
  min-height: 28rem;
  width: 50%;
  background-color: white;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.55);
  padding: 1rem;
  flex-grow: 1;
}

.home-image {
  padding-top: 15rem;
  height: 15rem;
  width: 50%;
  max-width: 30rem;
  min-width: 30rem;
  background-color: cornflowerblue;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.55);
  text-align: center;
  margin-left: 2rem;
}

.page-section {
  text-align: center;
  min-height: 50rem;
  padding-top: 5rem;
}

.social-icon {

}

#projects {
  background-color: white;
}

#resume {
  background-color: white;
}
