.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(88, 87, 87);
  height: 100vh;
  min-height: 100vh;
  color: white;
  background: url('../media/spectrum.jpg');
}

.App-title {
  font-size: 1.5em;
  padding-top: 10vh;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
