.navbarContainer {
    padding: 1rem 0 0.5rem;
    color: orange;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: none;
}

.navbarBranding {
    padding: 0.5rem 1rem;
    margin-left: 2em;
}

.navbarTabList {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.navbarTabList > a {
    text-decoration: none;
}

.navbarTab {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: orange;
    font-weight: bold;
    border-bottom: 2px solid rgba(0,0,0,0.0);
}

.selected .navbarTab, .navbarTab:hover {
    border-bottom: 2px solid orange;
    transition-duration: 500ms;
}

.socialLinks > a {
    color: orange;
    margin-right: 1em;
}

.socialLinks > a:hover {
    color: orange;
}