.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.portfolioCardContainer {
    margin: 1rem;
    max-width: 300px;
    min-width: 300px;
    max-height: 400px;
    min-height: 400px;
    border: 1px solid blue;
    border-radius: 1rem;
    cursor: pointer;
}

.portfolioCardContainer:hover {
    background-color: gray;
    transition-duration: 500ms;
}